body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: rgb(71, 70, 70);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.video {
    position: relative;
    z-index: 3;
}

.video__item2 {
    display: none;
}

.darkTheme {
    display: none;
    width: 720px;
    height: 1280px;
}

/* по умолчанию все скрыто */

#myIdDiv {
    display: none;
    justify-content: center;
    align-items: center;
    clip-path: polygon(1% 35%, 84% 12%, 100% 67%, 18% 90%);
    position: absolute;
    height: 250px;
    width: 300px;
    top: 63%;
    left: 38%;
    padding: 30px;
    background-color: rgb(154, 148, 148);
    /* border-radius: 5px;
    border: 5px solid #9e0202; */
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #4971ff;
    transition: 3s;
}

/* Видео как фон css */

#card-form {
    display: none;
    padding: 20px;
}

.hidden {
    display: none;
}
